@import "../../VariableColor.scss";
@import "../../FontStyle.scss";

.driver {
  display: flex;

  flex-direction: column;

  .driver-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 420px;
    height: 92px;
  }

  .driver-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../../Imgs/rider.png");
    height: 780px;
    flex-direction: column;

    margin-bottom: 80px;
  }

  .driver-text-sub1 {
    @extend %text-style;
    display: flex;
    align-items: center;
    margin-left: 420px;
    width: 620px;
    color: $color-white;
    margin-bottom: 40px;
  }

  .driver-text-sub2 {
    @extend %text-style-sub;
    width: 344px;
    height: 79px;
    margin-left: 420px;
    display: flex;
    align-items: center;
    color: $color-white;
  }

  .driver-info {
    display: flex;
    flex-direction: column;
  }

  .driver-info-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .driver-info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .driver-info-why {
    @extend %text-style-36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-names;
  }

  .driver-info-sub-img {
    margin-top: 50px;
    margin-right: 50px;
  }

  .driver-info-box-sub {
    margin: 30px 0px;
  }

  .driver-info-sub-icon {
    margin-right: 30px;
  }

  .driver-info-sub-icon1 {
    margin-right: 25px;
  }

  .driver-info-box-sub-text {
    @extend %text-style-22px;
    display: flex;
    align-items: center;
    color: $color-names;
  }

  .driver-info-box-sub-text-sub {
    @extend %text-style-18px;
    display: flex;
    align-items: center;
    color: $color-grey;
  }

  .driver-download {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %text-style-18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-names;
    margin: 50px 0px 16px 0px;
  }

  .driver-butoonApp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
}
