.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-sub {
  display: flex;
  justify-content: row;
  align-items: center;
  margin: 18px 0px;

  .Nav-sub1 {
    margin-right: 40px;
  }
}

.marginLeft {
  margin-left: 390px;
}

.marginRight {
  margin-right: 390px;
}
