@import "../../VariableColor.scss";
@import "../../FontStyle.scss";

.SaveTime {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: $background-color-saveTime;
  height: 728px;
}

.names {
  @extend %text-style;
  display: flex;
  align-items: center;

  color: $color-names;
  width: 228px;
  height: 118px;
}

.names-sub {
  @extend %text-style-sub;
  display: flex;
  align-items: center;
  color: $color-names-sub;
  width: 528px;
  height: 68px;
  margin: 28px 0px 48px 0px;
}



.SaveTime-text {
  margin-bottom: 155px;
}
