@import "../../../VariableColor.scss";
@import "../../../FontStyle.scss";

.rider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 554px;
  background-image: url("../../../Imgs/rider.png");

  &-text {
    @extend %text-style;
    max-width: 388px;
    height: 118px;
    color: $color-white;
  }

  &-text-sub {
    @extend %text-style-sub;
    max-width: 450px;
    height: 79px;
    color: $color-white;
    margin: 40px 0px;
  }
}
