$background-color-saveTime: linear-gradient(180deg, #f2f8ff 0%, #e0e6ec 100%);
$color-names: #0e1e29;
$color-app: #b9c4ce;
$color-white: white;
$background-color-blue: linear-gradient(180deg, #0083e2 0%, #005dca 100%);
$color-phone: #0e1e29;
$color-grey: #40494f;
$color-lightgrey: #f7f8fa;
